GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:5050/signin.com
FRONTEND_URL=http://localhost:5050
CLIENT_ORIGIN=http://localhost:5050
